.player-container {
  display: flex;
  width: 150px;
  height: 35px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.player-name {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 650;
}
