<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-title navbar-brand" [routerLink]="'home'"
      >Badminton Competitive Matchmaking</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a
          class="nav-link"
          aria-current="page"
          [routerLink]="'home'"
          routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="'add-players'"
          routerLinkActive="active"
          >Add players</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="'player-list'"
          routerLinkActive="active"
          >Player list</a
        >
      </li>
      <!-- TODO: add this back
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="'linked-players'"
          routerLinkActive="active"
          >Linked players</a
        >
      </li> -->
      <!-- TODO: add this back
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="'wait-duration'"
          routerLinkActive="active"
          >Wait Duration</a
        >
      </li> -->
    </ul>
  </div>
</nav>
