.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  z-index: 1000;
}
.navbar-title {
  color: white;
}
li {
  white-space: nowrap;
  padding: 0 30px;
}
a,
a:focus {
  color: grey;
}
a:hover {
  color: lightblue;
}
.navbar-toggler {
  color: white;
  background-color: white;
}
.navbar-nav a.active {
  color: white;
}
