.navbar-title {
  color: white;
}
li {
  white-space: nowrap;
  padding: 0 30px;
}
a,
a:focus {
  color: grey;
}
a:hover {
  color: lightblue;
}
.navbar-toggler {
  color: white;
  background-color: white;
}
.navbar-nav a.active {
  color: white;
}
