<div class="court-container container">
  <div class="header">
    <h5>Court Number: {{ courtNumber }}</h5>
  </div>

  <hr />

  <div class="players">
    @if (players.length > 0) {
      <div>
        @for (player of players; track player) {
          <div class="my-2">
            <app-player
              [id]="player.id"
              [name]="player.name"
              [skillId]="player.skillId"
            ></app-player>
          </div>
        }
      </div>
    } @else {
      <p>No players</p>
    }
  </div>
  <hr />

  @if (showButtons) {
    <div class="footer">
      <button class="btn btn-primary" (click)="cycleCourt()">Next</button>
      <!-- TODO: add undo button
      <button class="btn btn-secondary" (click)="undo()">Undo</button> -->
      <button class="btn btn-danger" (click)="removeCourt()">
        Remove Court
      </button>
    </div>
  }
</div>
