<div class="court-container container">
  <div class="header">
    <h5>Court Number: {{ courtNumber }}</h5>
  </div>
  <hr />

  <div class="players">
    <div *ngIf="players.length > 0; else noPlayers">
      <div class="my-2" *ngFor="let player of players">
        <app-player
          [id]="player.id"
          [name]="player.name"
          [skillId]="player.skillId"
        ></app-player>
      </div>
    </div>
    <ng-template #noPlayers>
      <p>No players</p>
    </ng-template>
  </div>
  <hr />

  <div class="footer" *ngIf="showButtons">
    <button class="btn btn-primary" (click)="cycleCourt()">Next</button>
    <button class="btn btn-secondary" (click)="undo()">Undo</button>
    <button class="btn btn-danger" (click)="removeCourt()">Remove Court</button>
  </div>
</div>
