<div class="container-fluid">
  <div class="form-container m-3">
    <form>
      <div class="mb-3">
        <label for="playerName" class="form-label">Player Name</label>
        <input
          type="text"
          class="form-control"
          id="playerName"
          name="playerName"
          [(ngModel)]="addedPlayer.name"
        />
      </div>
      <div class="mb-4">
        <label for="playerSkillId" class="form-label">Player Skill Level</label>
        <br />
        <div
          id="playerSkillId"
          class="btn-group"
          role="group"
          *ngFor="let lvl of skillLevels; let i = index"
        >
          <div class="mx-3">
            <input
              type="radio"
              class="btn-check form-control"
              name="player-skill-level"
              id="{{ i }}"
              autocomplete="off"
              [(ngModel)]="addedPlayer.skillId"
              value="{{ i }}"
              (change)="updateRadioButtons(lvl, i)"
            />
            <label
              class="btn player-skill-level-label"
              for="{{ i }}"
              [ngStyle]="getRadioStyle(lvl, i)"
              >{{ lvl.skillLevel }}</label
            >
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="addPlayer()">
        Add player
      </button>
    </form>
  </div>
  <div class="player-list-container my-5 mx-3">
    <h2 class="mb-3">Current Player List</h2>
    <div
      class="player-list-item mb-3"
      *ngFor="let player of playerList$ | async; let i = index"
    >
      <span>{{ i + 1 }}. </span>
      <app-player
        [id]="player.id"
        [name]="player.name"
        [skillId]="player.skillId"
      ></app-player>
    </div>
  </div>
</div>
