<div class="container-fluid">
  <div class="form-container m-3">
    <form>
      <div class="mb-3">
        <label for="playerName" class="form-label">Player Name</label>
        <input
          type="text"
          class="form-control"
          id="playerName"
          name="playerName"
          [(ngModel)]="addedPlayer.name"
          />
        </div>
        <div class="mb-4">
          <label for="playerSkillId" class="form-label">Player Skill Level</label>
          <br />
          @for (lvl of skillLevels; track lvl; let i = $index) {
            <div
              id="playerSkillId"
              class="btn-group"
              role="group"
              >
              <div class="mx-3">
                <input
                  type="radio"
                  class="btn-check form-control"
                  name="player-skill-level"
                  id="{{ i }}"
                  autocomplete="off"
                  [(ngModel)]="addedPlayer.skillId"
                  value="{{ i }}"
                  (change)="updateRadioButtons(lvl, i)"
                  />
                  <label
                    class="btn player-skill-level-label"
                    for="{{ i }}"
                    [ngStyle]="getRadioStyle(lvl)"
                    >{{ lvl.skillLevel }}</label
                    >
                  </div>
                </div>
              }
            </div>
            <div class="button-toolbar">
              <button type="submit" class="btn btn-primary" (click)="addPlayer()">
                Add player
              </button>
              <button class="btn btn-secondary" (click)="addPlayersFromFile()">
                Add players from file
              </button>
            </div>
          </form>
        </div>
        <div class="player-list-container my-5 mx-3">
          <h2 class="mb-3">Current Player List</h2>
          @for (player of playerList$ | async; track player; let i = $index) {
            <div
              class="player-list-item mb-3"
              >
              <span class="li-number">{{ i + 1 }}. </span>
              <app-player
                [id]="player.id"
                [name]="player.name"
                [skillId]="player.skillId"
              ></app-player>
            </div>
          }
        </div>
      </div>
