.court-list-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.queued-groups-list-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.waiting-group-players-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgb(227, 227, 227);
  border-radius: 10px;
  width: 200px;
  height: 180px;
  cursor: move;
}
.waiting-group {
  display: flex;
  gap: 5px;
}
.waiting-group-number {
  margin-top: 2px;
  width: 20px;
}
