.court-list-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.queued-groups-list-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.non-matchmade-players-list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 30vw;
  align-content: flex-start;
}
.non-matchmade-players-header {
  display: flex;
  gap: 50px;
}
.sort-container {
  padding-bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.sort-option-dropdown-item {
  cursor: default;
}
.waiting-group-players-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgb(227, 227, 227);
  border-radius: 10px;
  width: 200px;
  height: 180px;
}
.waiting-group,
.non-matchmade-player {
  display: flex;
  gap: 5px;
}
.waiting-group-number,
.non-matchmade-player-number {
  margin-top: 2px;
  width: 20px;
}
.player-container {
  cursor: move;
}
.cdk-drag-preview p {
  display: none;
}
