.court-list-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.main-container {
  display: flex;
}
.button-toolbar {
  display: flex;
  gap: 20px;
}
.player-list-container {
  flex: 1;
}
.waiting-groups-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.player-list-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn-remove-player {
  display: flex;
  justify-content: center;
  align-items: center;
}
.waiting-player-checkbox {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}
.li-number {
  width: 20px;
}
