.court-list-container {
  display: flex;
  gap: 20px;
}
.player-list-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn-remove-player {
  display: flex;
  justify-content: center;
  align-items: center;
}
