<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="container-fluid p-3">
      <div class="court-list-container">
        <div *ngFor="let court of courts$ | async">
          <div class="court-container mb-3">
            <app-court
              [courtNumber]="court.courtNumber"
              [players]="court.players"
            ></app-court>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
