<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="container-fluid">
      <app-player [id]="0" [name]="'Danny Cai'" [skillId]="0"></app-player>
      <app-player
        [id]="1"
        [name]="'Nishamini Gunasinghe'"
        [skillId]="1"
      ></app-player>
      <app-player [id]="2" [name]="'Kevin Chang'" [skillId]="2"></app-player>
      <app-player [id]="3" [name]="'Darren Lin'" [skillId]="3"></app-player>
      <app-player [id]="4" [name]="'Darren Lin'" [skillId]="4"></app-player>
    </div>
  </body>
</html>
