<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="container-fluid p-3">
      <div class="court-list-container">
        @for (court of courts$ | async; track court) {
          <div>
            <div class="court-container mb-3">
              <app-court
                [courtNumber]="court.courtNumber"
                [players]="court.players"
              ></app-court>
            </div>
          </div>
        }
      </div>
      <div class="add-court-container mb-3">
        <app-add-court></app-add-court>
      </div>
      <!-- TODO: add run matchmaking component
      <div class="run-matchmaking-container mb-3">
        <app-run-matchmaking></app-run-matchmaking>
      </div> -->
      <div class="main-container">
        <div class="waiting-groups-container my-5 mx-3">
          @if ((matchmakingQueuedGroups$ | async)?.length) {
            <h2 class="mb-3">Queued Groups</h2>
          }
          <div class="waiting-groups-player-list">
            @for (
              group of matchmakingQueuedGroups$ | async;
              track group;
              let groupIndex = $index
            ) {
              @for (player of group; track player; let playerIndex = $index) {
                <div class="waiting-group-list-item mb-3">
                  <app-player
                    [id]="player.id"
                    [name]="player.name"
                    [skillId]="player.skillId"
                  ></app-player>
                </div>
              }
              <hr />
            }
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
